.todoList{
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items:center;
    }
.todoList > p{
  font-size: 30px;
  font-family: 'Silkscreen', cursive;
  color: #fff;
}